html{
    scroll-behavior: smooth;
}
.offer-div{
    height: 400px;
    /* width: 100vw; */
    overflow-y: auto;
    border-radius: 10px;

}
.offer-div .card-h{
    height: 200px;
}
.offer-data{
    background-color: orange;
    color: white;
    padding: 60px;
    border-radius: 20px;
}

.hedding{
    color:gray;
    text-shadow: 1px 1px  rgb(83, 73, 63) ;
}