.offer-div{
    height: 400px;
    /* width: 100vw; */
    overflow-y: scroll;
    border-radius: 30px;

}
.offer-div .card-h{
    height: 200px;
}
.offer-data{
    background-color: orange;
    color: white;
    padding: 60px;
}