.offer-div{
    height: 400px;
    /* width: 100vw; */
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.2);
    color: white;


}
.offer-div .card-h{
    height: 200px;
    background-color: rgba(32, 30, 30, 0.925);
    color: white;
}